// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap/dist/css/bootstrap.min";
@import "font-awesome/scss/font-awesome.scss";
@import "owl.carousel2/dist/assets/owl.carousel.min";

/* ======================== Genaral section ==========================*/

html body {
	width: 100%;
	font-family: 'Noto Sans', sans-serif;
}

body {
	color: #212226;
}

p {
	font-size: 13px;
	line-height: 24px;
}

section {
	background-color: #fff;
}

/* ======================== Default section ==========================*/

/* ======================== Content Box ==========================*/

.content-box-lg  {
	padding: 120px 0;
}

.content-box-md {
	padding: 100px 0;
}

/* ======================== Content Box ==========================*/

/* ======================== Social Icons ==========================*/

.social-list {
	list-style: none;
	padding: 0;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	li {
		padding: 0;
		a {
			border: 1px solid #fff;
			width: 35px;
			height: 35px;
			line-height: 35px;
			color: #fff;
			display: inline-block;
			border-radius: 50%;
			margin-right: 5px;
			transition: all 400ms linear;
		}
		&:nth-child(1) a:hover {
			background: #3b5998;
			border-color: transparent;
		}
		&:nth-child(2) a:hover {
			background-color: #00aced;
			border-color: transparent;
		}
		&:nth-child(3) {
			margin-right: 0;
			a:hover {
				background: linear-gradient(to right, #ce047d, #520bc0);
				border-color: transparent;
			}
		}
	}
}



/* ======================== Social Icons ==========================*/

/* ======================== Button section ==========================*/

.btn-general {
	border-radius: 28px;
	font-size: 13px;
	text-transform: uppercase;
	margin: 0 6px;
	padding: 12px 46px;
	transition: all .5s;
}

.btn-home {
	border: 1px solid #fff;
	color: #fff;
}

.btn-home:hover, .btn-home:focus {
	color: #fff;
	background-color: #f4c613;
	border: 1px solid #f4c613;
}
/* ======================== Button section ==========================*/

/* ======================== Preloader section ==========================*/

#preloader {
	height: 100vh;
	width: 100%;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	#status {
		background-image: url(/Facebook-1s-200px.gif);
		background-repeat: no-repeat;
		width: 100%;
		height: 100vh;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -35px;
		margin-left: -35px;
	}
}


/* ======================== Preloader section ==========================*/

/* ======================== Home section ==========================*/
#home {
	background: none;
	.home-bg-video {
		height: auto;
		width: auto;
		min-height: 100%;
		min-width: 100%;
		z-index: -1;
		position: absolute;
		right: 0;
		bottom: 0;
		background-image: url(video/solo.jpg) no-repeat;
		background-size: cover;
	}

	#home-overlay {
		background-color: rgba(0,0,0,.8);
		height: 100vh;
		width: 100%;
		position: relative;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
	}

	#home-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		#home-content-inner {
			#home-heading {
				h1 {
					font-size: 65px;
					color: #fff;
					text-transform: uppercase;
					display: inline-block;
					margin: 0;
					font-weight: 100;
					span {
						color: #f4c613;
						margin-left: 10px;
					}
				}
			}
			#home-text p {
				color: #fff;
				font-size: 17px;
				margin: 8px 0 30px 0;
			}
		}
	}

	#arrow-down {
		position: absolute;
		z-index: 2;
		color: #fff;
		font-size: 35px;
		bottom: 20px;
		left: 50%;
		transform: translate(-50%, 0);
		&:hover, &:focus {
			color: #f4c613;
			cursor: pointer;
		}
	}
}
/* ======================== Home section ==========================*/

/* ======================== About01 section ==========================*/

.content-box-lg {
	padding: 120px 0;
	#about-left {
		.vertical-heading {
			h5 {
				color: #f4c613;
				font-size: 14px;
				text-transform: uppercase;
				word-spacing: 9px;
				display: inline-block;
				transform: rotate(-90deg);
				position: relative;
				top: 63px;
				left: -63px;
			}
			h2 {
				margin: 0 0 0 35px;
				font-size: 42px;
				line-height: 45px;
				font-weight: 100;
			}
		}
	}
	#about-right {
		p:first-child {
			margin-bottom: 30px;
		}
	}
	#about-bottom {
		margin-top: 60px;
		img {
			margin: 0 auto;
		}
	}
}

/* ======================== About01 section ==========================*/

/* ======================== About02 section ==========================*/

#about-02 {
	background-color: #f4f4f4;
	.about-item {
		background-color: #fff;
		padding: 80px 30px;
		box-shadow: 0 0 10px rgba(0, 0, 0, .9);
		i {
			font-size: 42px;
		}
		h3 {
			font-size: 24px;
			margin-bottom: 10px;
		}
		hr {
			width: 45px;
			height: 3px;
			background-color: #f4c613;
			margin: 0 auto;
			border: none;
		}
		p {
			margin-top: 20px;
		}
		&:hover {
			background-color: #f4c613;
			transition: all 400ms ease-in-out;
			i, h3, p {
				color: #fff;
			}
			i, hr {
				transition: all 400ms ease-in-out;
			}
			i {
				transform: translateY(-20px);
			}
			hr {
				background-color: #fff;
			}
		}
	}
}

/* ======================== About02 section ==========================*/



