<!-- preloader -->

<id id="preloader">
	<div id="status">&nbsp;</div>
</id>

<!-- Home -->
<section id="home">
	<!-- Background Video -->
	<%= video_tag '/video/solo.mp4', class: "home-bg-video", autoplay: true, loop: true do %>
		<source scr="/video/solo.jpg">
		<source scr="/video/solo.ogv">
		<source scr="/video/solo.webm">
	<% end %>

	<!-- Overlay -->
	<div id="home-overlay"></div>

	<!-- Home Content -->
	<div id="home-content"v>
		<div id="home-content-inner" class="text-center">
			<div id="home-heading">
				<h1 id="home-heading1">Digital</h1>
				<br>
				<h1 class="home-heading-2">Creative<span>Agency</span></h1>
			</div>

			<div id="home-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
			</div>

			<div id="home-btn">
				<a href="#about" class="btn btn-general btn-home">Start Now</a>
			</div>
		</div>
	</div>

	<!-- Arrow Down -->
	<div href="#about" id="arrow-down">
		<i class="fas fa-angle-down"></i>
	</div>
</section>

<section><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></section>