<!-- preloader -->

<id id="preloader">
	<div id="status">&nbsp;</div>
</id>

<!-- Home -->
<section id="home">
	<!-- Background Video -->
	<%= video_tag '/video/solo.mp4', class: "home-bg-video", autoplay: true, loop: true do %>
		<source scr="/video/solo.jpg">
		<source scr="/video/solo.ogv">
		<source scr="/video/solo.webm">
	<% end %>
	<!-- Overlay -->
	<div id="home-overlay"></div>
</section>

<section><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></section>